* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

.box-shadow {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.centeralize {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-to-input {
	text-align: left;
}

.button-to-input:hover {
	cursor: auto;
	border-color: rgba(104, 207, 239, 0.8);
}

.promotion-red {
	color: red;
	text-decoration: line-through;
}

.promotion-green {
	color: green;
	font-size: 1.25rem;
	font-weight: bold;
}

.page-number {
	text-align: center;
	margin: 1rem;
	font-size: 1.5rem;
}

.active-page {
	font-size: 1.75rem;
	font-weight: bold;
}

.header {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 3%;
}

.move-left{
	transform: translateX(-100px);
}

/* SHOWCASE */

.showcase {
	width: 100vw;
	height: 95vh;
	max-width: 100%;
	background-size: cover;
	display: flex;
	align-items: center;
}

.showcase-homepage {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%),
		url("../img/showcase.jpg");
	background-position: top center;
}

.showcase-promotion {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%),
		url("../img/promotion.jpg");
	background-position: center center;
}

.showcase-pic {
	width: 100%;
}

.showcase-content {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 10%;
}

.showcase-content h1 {
	font-size: 7rem;
}

.showcase-content span {
	font-size: 2rem;
	margin-bottom: 2rem;
}

/* MENU NAVBAR */

.menu-bar-btn {
	position: relative;
}

.menu-bar-btn button {
	text-align: left;
}

.menu-bar-btn img {
	height: 2rem;
}

.item-alert {
	position: absolute;
	top: -0.10rem;
	left: 2rem;
	color: #fff;
	background-color: red;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
}

@media only screen and (max-width: 990px) {
	.fullwidth {
		width: 100%;
	}

	.move-left{
		transform: translateX(0);
	}
}

/* MENU CONTENT */

.container {
	height: fit-content;
	background-color: #fff;
	padding: 0;
	border: 5px solid #f8f9fa;
}

.row {
	margin: 0;
	padding: 15px;
}

.menu-item {
	height: fit-content;
	padding: 15px;
}

.menu-item-content {
	width: 100%;
	background-color: #fff;
	height: fit-content;
	padding: 15px;
	border-radius: 1%;
}

.menu-item-text {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1.5rem 0;
}

.menu-item-img {
	width: 100%;
	height: 250px;
	background-size: cover;
	background-position: center center;
}

/* FOOTER */

.footer {
	height: 10vh;
	background-color: #f8f9fa;
	justify-content: space-around;
}

/* BULMA */

.btn-p{
	background-color: #00d1b2;
	color: #fff !important;
	font-size: bold !important;
	border-color: transparent;
}

.btn-s{
	border-color: transparent;
	color: #fff !important;
	font-size: bold !important;
	background-color: #ff3860;
}