html, body{
    height: 100%;
    background-color: hsl(0, 0%, 96%);
}

.box-shadow-y{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.icon{
    height: 30px;
    width: 30px;
    vertical-align: baseline;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.px-1,
.p-1{
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.py-1,
.p-1{
    padding-top: 4rem;
    padding-bottom: 0.75rem;
}

.p-2{
    padding-top: -0.5rem;
    padding-bottom: 0.75rem;
}

.menu-container{
    position: fixed;
    bottom: 0;
    margin: auto;
    min-width: 100px;
    z-index:5;
    background-color: transparent;
    transform: translateX(-100%);
    transition: all ease 0.5s;
}

.toggler{
    margin-left: 0;
    cursor: pointer;
}

.menu-container.active{
    transform: translateX(0%);
}

@media (min-width: 1024px){
    .menu-container{
        width: 16.6667%;
        min-width: auto;
        transform: translateX(0%);
    }
}

@media (min-width: 769px){
    .menu-container{
        width: 25%;
        min-width: auto;
        transform: translateX(0%);
    }
}